<nav>
    <div class="navHeader">
        <img src="pomodoro-logo.png">
        <h1>pomodoro app</h1>
    </div>

    <div class="navItems">
        <a class="navItem" routerLink="/home" routerLinkActive="active">
            <span class="material-icons-outlined">home</span>
            <span class="navItem-label">home</span>    
        </a>

        <a class="navItem" routerLink="/about" routerLinkActive="active">
            <span class="material-icons-outlined">info</span>
            <span class="navItem-label">about</span>  
        </a>
    </div>
</nav>