<section>
    <h1>Update Post</h1>

    <form [formGroup]="updatePostForm" (ngSubmit)="onUpdate()">
        <label>Title</label>
        <input type="text" formControlName="title" placeholder="Blog Title Here...">

        <label>Subtitle</label>
        <input type="text" formControlName="subtitle" placeholder="Blog Subtitle Here...">

        <label>Content</label>
        <textarea formControlName="content" placeholder="Blog content here..."></textarea>

        <button type="submit" [disabled]="saving">Update</button>
    </form>

    <button [routerLink]="['/list']" class="cancel-button">Cancel</button>
</section>