<h1>Checkout Page</h1>

<div class="checkoutPage">
    @for ( product of products ; track product.id ) {
        <div class="itemCard">
            <img [src]="product.image">
        
            <div class="itemDetails">
                <h2>
                    <a [title]="product.name + ' details'">
                        {{ product.name }}
                    </a>
                </h2>
                
                <p>${{ product.price }}</p>
                
                @if (product.description) {
                    <p>
                        {{ product.description }}
                    </p>
                }
            </div>
        </div>
    }
</div>